@using Microsoft.AspNetCore.Identity
@using YSA.Core.Entities

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YoSoyArte</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YSA.styles.css" asp-append-version="true" />
</head>

<body>
    @{
        var mensaje = "Hola, me gustaría recibir asistencia sobre:.";
        var mensajeCodificado = System.Web.HttpUtility.UrlEncode(mensaje);
        var telefono = "584121463374";
        var urlWhatsapp = $"https://wa.me/{telefono}?text={mensajeCodificado}";
    }

    <!-- Barra superior de WhatsApp -->
    <div class="whatsapp-top-bar">
        <div class="container-fluid">
            <a href="@urlWhatsapp" target="_blank" title="Asistencia por WhatsApp">
                <i class="fab fa-whatsapp me-2"></i>
                ¿Necesitas ayuda? Escríbenos por WhatsApp
            </a>
        </div>
    </div>

    <header class="main-header navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            @* Botón de Menú (Izquierda) *@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @* Logo para móvil (Derecha, visible solo en móvil) *@
            <a class="header-logo navbar-brand navbar-brand-mobile d-none" asp-controller="Home" asp-action="Index">
                <img src="~/diseño/logoYSA.png" alt="Logo YoSoyArte" />
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark header-nav-link" asp-controller="Home" asp-action="Index"><i class="fas fa-home me-2"></i>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark header-nav-link" asp-controller="Curso" asp-action="Index"><i class="fas fa-book-open me-2"></i>Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark header-nav-link" asp-controller="Revista" asp-action="Index"><i class="fas fa-newspaper me-2"></i>Revista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark header-nav-link" asp-controller="Producto" asp-action="Index"><i class="fas fa-file-pdf me-2"></i>Productos</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Estudiante"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark header-nav-link" href="#" id="miAprendizajeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-graduation-cap me-2"></i>Mi aprendizaje
                                </a>
                                @await Component.InvokeAsync("CursosUsuario")
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark header-nav-link position-relative" href="#" id="notificacionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bell me-2"></i>Notificaciones
                                @await Component.InvokeAsync("NotificacionesMenu")
                            </a>
                        </li>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Asistente"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark header-nav-link" asp-controller="Admin" asp-action="Panel" role="button">
                                    <i class="fas fa-chart-bar me-2"></i>Panel de admin
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Artista"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark header-nav-link" asp-controller="Artista" asp-action="GestionarPortafolio" role="button">
                                    <i class="fas fa-file-alt me-2"></i>Mi portafolio
                                </a>
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark header-nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle me-2"></i>Mi cuenta
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Cuenta" asp-action="MiPerfil">Mi perfil</a></li>
                                @if (User.IsInRole("Artista"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Artista" asp-action="PreguntasPendientes">Preguntas</a></li>
                                    <li><a class="dropdown-item" asp-controller="Artista" asp-action="EntregasPendientes">Actividades</a></li>
                                }
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">Cerrar sesión</a></li>
                            </ul>
                        </li>
                        <form asp-controller="Cuenta" asp-action="Logout" method="post" id="logoutForm" style="display: none;"></form>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark header-nav-link" asp-controller="Cuenta" asp-action="Login"><i class="fas fa-sign-in-alt me-2"></i>Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark header-nav-link" asp-controller="Cuenta" asp-action="Registro"><i class="fas fa-user-plus me-2"></i>Registrarse</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>

    <div class="main-content mb-3 pb-3">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-md-0 mb-sm-0 mb-xs-0">
                    <p style="color:white; font-size: 0.9rem;">&copy; @DateTime.Now.Year - YoSoyArte.Web. Todos los derechos reservados.</p>
                    <a asp-controller="Home" asp-action="Privacidad" class="text-secondary text-decoration-none">Política de Privacidad</a>
                    <a href="#" class="text-secondary text-decoration-none">Términos de Servicio</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="social-icons-footer">
                        <a href="URL_TU_INSTAGRAM" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                        <a href="URL_TU_FACEBOOK" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="URL_TU_TWITTER" target="_blank" title="Twitter/X"><i class="fab fa-twitter"></i></a>
                        <a href="URL_TU_YOUTUBE" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
                        <a href="URL_TU_PINTEREST" target="_blank" title="Pinterest"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Lógica para el header dinámico al hacer scroll
        document.addEventListener('DOMContentLoaded', () => {
            const mainHeader = document.querySelector('.main-header');
            const whatsappBar = document.querySelector('.whatsapp-top-bar');

            window.addEventListener('scroll', () => {
                if (window.scrollY > 50) {
                    mainHeader.classList.add('scroll-header-shrink');
                } else {
                    mainHeader.classList.remove('scroll-header-shrink');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>